
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body{
  background-color: $main-color;
  background-size: cover;
  background-repeat: no-repeat;
  color:$secondary-color;
  font-family: 'Helvetica';
}

* img{
  width:2rem;
}

main{

}
